<div class="container mt-3">
	<div class="row">
		<div class="col-md-8">
			<h2>Daftar Kontak</h2>

			<a href="/contact/add" class="btn btn-primary mb-2"
				>Tambah Data Contact</a
			>

			<% if (msg.length !== 0) { %>
			<div class="alert alert-success mt-2" role="alert"><%= msg %></div>
			<% } %>

			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th scope="col">No.</th>
						<th scope="col">Nama</th>
						<th scope="col">No. HP</th>
						<th scope="col">Aksi</th>
					</tr>
				</thead>
				<tbody>
					<% if (contacts.length < 1) { %>
					<tr>
						<td colspan="4">
							<div class="alert alert-danger fw-bold" role="alert">
								Data kontak masih kosong.
							</div>
						</td>
					</tr>
					<% } %> <% contacts.forEach((contact, i) => { %>
					<tr>
						<th scope="row"><%= i+1 %></th>
						<td><%= contact.nama %></td>
						<td><%= contact.noHP %></td>
						<td>
							<a
								href="/contact/<%= contact.nama %> "
								class="btn btn-success badge rounded-pill"
								><i class="bi bi-info-circle"></i> detail</a
							>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>
