<div class="container mt-3">
	<div class="row">
		<div class="col-md-8">
			<h2>Detail Kontak</h2>
			<% if (!contact) { %>
			<div class="alert alert-danger fw-bold" role="alert">
				Data kontak tidak ada <br />
				<a href="/contact" class="alert-link fw-normal"
					>&laquo; kembali ke daftar kontak</a
				>.
			</div>
			<% } else { %>
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title"><%= contact.nama %></h5>
					<h6 class="card-subtitle mb-2 text-muted"><%= contact.noHP %></h6>
					<p class="card-text"><%= contact.email %></p>
					<a
						href="/contact/edit/<%= contact.nama %>"
						class="btn btn-warning badge"
						>Ubah</a
					>
					<a
						href="/contact/delete/<%= contact.nama %>"
						class="btn btn-danger badge"
						onclick="return confirm('Yakin ?')"
						>Hapus</a
					>
					<a href="/contact" class="card-link d-block mt-3"
						>&laquo; Kembali ke daftar contact</a
					>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>
