extends layout 

block content 

    main.main
        p.sub-title 
            small Get Latest movies recommendations across different platforms and binge watch them.

        .card-container
            each movie in movies
                .card
                    .card-hero
                        img(src=  `${movie.poster}` alt = "movie-poster" )
                    .card-title= movie.title
                    .card-info
                        .rating= `${movie.ratings}  ${'⭐'.repeat(Math.floor(movie.ratings/2))}`
                        .duration #{movie.runtime}
                    .description= movie.Description.slice(0,90) + '....'
                        
                    a.more(href = `\movie\\${movie.slug}` class = "more") Know More




    